<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="description" content="">

	<meta name="author" content="">

	<link rel="icon" href="{{ asset('bundles/template/images/favicon.ico') }}">

	{% block head %}
		<title>Tutorez - Formation en ligne entre particuliers</title>
	{% endblock %}

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Icons -->
    <link href="{{ asset('bundles/template/css/font-awesome.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/template/css/style.css') }}" rel="stylesheet">
</head>
<body>
	<div class="container-fluid" id="wrapper">
		<div class="row">
			<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1">
				<h1 class="site-title"><a href="{{ path('accueil') }}"><em class="fa fa-rocket"></em> Tutorez</a></h1>

				<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>

				<ul class="nav nav-pills flex-column sidebar-nav">
					{% block titlepage %}
						<li class="nav-item"><a class="nav-link active" href="{{ path('accueil') }}"><em class="fa fa-dashboard"></em> Tableau de bord <span class="sr-only">(current)</span></a></li>
					{% endblock %}
					<li class="nav-item"><a class="nav-link" href="{{ path('accueil') }}"><em class="fa fa-calendar-o"></em> Formation</a></li>
					<li class="nav-item"><a class="nav-link" href="{{ path('accueil') }}"><em class="fa fa-bar-chart"></em> Contacts</a></li>
					<li class="nav-item"><a class="nav-link" href="{{ path('accueil') }}"><em class="fa fa-hand-o-up"></em> Découvrir</a></li>
					<li class="nav-item"><a class="nav-link" href="{{ path('accueil') }}"><em class="fa fa-clone"></em> Support</a></li>
				</ul>

				<a href="#" class="logout-button"><em class="fa fa-power-off"></em> Déconnexion</a></nav>

			<main class="col-xs-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3 pl-4">
				<header class="page-header row justify-center">
					<div class="col-md-6 col-lg-8" >
						<h1 class="float-left text-center text-md-left">Tableau de bord</h1>
					</div>

					<div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right"><a class="btn btn-stripped dropdown-toggle" href="{{ path('mon_compte') }}" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img src="{{ asset('bundles/template/images/profile-pic.jpg') }}" alt="profile photo" class="circle float-left profile-photo" width="50" height="auto">

						<div class="username mt-1">
							<h4 class="mb-1">Mon compte</h4>

							<h6 class="text-muted">Brawcks</h6>
						</div>
						</a>
					</div>

					<div class="clear"></div>
				</header>
        {% block content %}{% endblock %}
